[submodule "LayouterUtils/json"]
	path = LayouterUtils/json
	url = https://github.com/nlohmann/json.git
[submodule "LayouterUtils/spdlog"]
	path = LayouterUtils/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "LayouterTest/Catch2"]
	path = LayouterTest/Catch2
	url = https://github.com/catchorg/Catch2.git
